In [14]:

library(dplyr)


# Fetch class Data
classdata <- read.csv("C:\\Users\\nehal\\Desktop\\Spring\ 2017\\ADS\\Lecture\ 2\\data\\ClassData.csv")

#1) Min, Max, Median, Avg for GPA and YearofWorkExp

GPASummary <- summarise(classdata, Feature="GPA",min=min(GPA), max=max(GPA), median = median(GPA) , avg = mean(GPA))

GPASummary

workExSummary <- summarise(classdata, Feature="Work Exp", min=min(Years.of.work.experience), max=max(Years.of.work.experience), median = median(Years.of.work.experience) , avg = mean(Years.of.work.experience))

workExSummary

#2) Find the mode of the Salary

getmode <- function(v) {
  uniqv <- unique(v)
  uniqv[which.max(tabulate(match(v, uniqv)))]
}

sal <- classdata$Latest.salary..per.year.
#getmode(sal)
mode1Summary <- summarise(classdata, Feature="Latest sal", mode = getmode(sal))
expectedSal <- classdata$Expected.Salary.after.graduation
#getmode(expectedSal)
mode2Summary <- summarise(classdata, Feature="Expected sal", mode = getmode(expectedSal))

mode1Summary
mode2Summary

#3) % of students having Co/op and not having Co/op
classdata <- mutate_each(classdata, funs(toupper))

coOpTable <- table(classdata$Coops.Internships..YN.)



res <- cbind(coOpTable,round(prop.table(coOpTable)*100,2))
colnames(res) <- c('Count','Percentage')
res
           




#4) No of students with more than 500 LinkedIn contacts
contactsTable <- classdata$Number.of.contacts.on.Linkedin

contSummary <- summarise(classdata, Feature="Contacts > 500", Count = length(which(contactsTable > 500)))

contSummary


#5) Find the Inter Quartile Range for the Expected Salalry Range?
iqrSummary <- summarise(classdata, Feature = "Expected sal range", IQR = IQR(classdata$Expected.Salary.after.graduation))

iqrSummary

  Feature min  max median avg
1 GPA     3.06 4   3.5    3.509706

  Feature  min max median avg
1 Work Exp 1   6   2.5    2.811765

  Feature    mode
1 Latest sal 60000

  Feature      mode
1 Expected sal 100000

  Count Percentage
N 10    29.41
Y 24    70.59

  Feature        Count
1 Contacts > 500 10

  Feature            IQR
1 Expected sal range 10000